
    <!-- HEADER SECTION -->
    <header class="bg-kuning absolute top-0 left-0 w-full flex items-center z-10">
      <div class="container">
        <div class="flex items-center justify-between relative">
          <div class="px-4">
            <a href="/" class="flex flex-wrap">
              <img src="/img/logo.png" alt="" class="h-10 my-auto" />
              <p class="font-bold text-lg text-biru block py-2">TECHNE.ID</p>
            </a>
          </div>
          <div class="flex items-center px-4">
            <button id="hamburger" name="hamburger" type="button" class="absolute block right-0 lg:hidden">
              <span class="hamburger-line origin-top-left"></span>
              <span class="hamburger-line"></span>
              <span class="hamburger-line origin-bottom-left"></span>
            </button>

            <nav id="nav-menu" class="hidden absolute py-2 bg-kuning shadow-lg rounded-lg max-w-sm w-full right-0 top-full lg:block lg:static lg:bg-transparent lg:max-w-full lg:shadow-none lg:rounded-none">
              <ul class="block lg:flex">
                <li class="group">
                  <a href="/" class="text-biru font-semibold py-2 my-2 mx-5 flex group-hover:text-black">Home</a>
                </li>
                <li class="group">
                  <a href="/belajar" class="text-biru font-semibold py-2 my-2 mx-5 flex group-hover:text-black">Belajar</a>
                </li>
                <li class="group">
                  <a href="/belajar/kuis" class="text-biru font-semibold py-2 my-2 mx-5 flex group-hover:text-black">Kuis</a>
                </li>
                <li class="group">
                  <a href="/forum" class="text-biru font-semibold py-2 my-2 mx-5 flex group-hover:text-black">Forum</a>
                </li>
                <li class="group">
                  <a href="/login" class="text-biru font-semibold py-2 my-2 px-5 border border-biru rounded-full mx-3 flex group-hover:text-putih">Masuk</a>
                </li>
                <li class="group">
                  <a href="/register" class="text-putih font-semibold py-2 my-2 px-5 mx-3 rounded-full flex bg-biru group-hover:text-kuning">Daftar</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
