<div id="">
    <!-- HOME SECTION -->
    <section id="home" class="flex place-content-center pt-32 pb-20 bg-putih h-auto">
      <div class="container align-middle m-auto bg-putih">
        <div class="flex flex-wrap">
          <div class="w-full self-center px-4 mb-10">
            <h1 id="judul" class="text-biru text-center font-bold text-3xl">About Techne Indonesia</h1>
          </div>
  
          <div class="w-full flex flex-wrap justify-center">
            <div class="markdown-body w-2/3 bg-putih grid justify-items-center ">
              <div id="file" class="w-full bg-putih text-biru text-justify">

                <p>Techne Indonesia is one of those &quot;What I wish I had when I was learning&quot; resources. Not everyone has access to a computer science education or the funds to attend an intensive coding school and neither of those is right for everyone anyway. This project is designed to fill in the gap for people who are trying to hack it on their own but still want a high quality education.</p>                
                <h2 class="text-center">What you can expect at Techne Indonesia</h2>

                <h3>A full roadmap to becoming a developer</h3>
                <p>Our free, comprehensive curriculum will equip you to be a full stack developer, no matter your current experience level.</p>

                <h3>Learn by doing</h3>
                <p>The most effective learning happens while building projects, so we have strategically placed them throughout our curriculum. These projects will make a strong portfolio for you to showcase on your resume.</p>

                <h3>Receive support from others</h3>
                <p><a href="https://www.theodinproject.com/team"><u><span style="color:#1155cc;font-size:11pt;">The maintainers of the curriculum</span></u></a>&nbsp;run a Discord community, with the help of countless other volunteers, where you can receive help with anything in our curriculum.</p>

                <h3>Open source and community driven</h3>
                <p>You can deepen your understanding and improve your GitHub skills by contributing to our open source curriculum and helping others in our Discord community.</p>

              </div>
            </div>
          </div>
  
          <div id="materi-contoh" class="w-full flex flex-wrap place-content-around coniatiner mx-20">
            <div class="markdown-body container">
              <!-- <article class="markdown-body"> -->
              <div id="markdowntest"></div>
              <!-- </article> -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  