<div id="">
  <!-- HOME SECTION -->
  <section id="home" class="flex place-content-center pt-32 pb-20 bg-putih h-auto">
    <div class="container align-middle m-auto bg-putih">
      <div class="flex flex-wrap">
        <div class="w-full self-center px-4 mb-10">
          <h1 id="judul" class="text-biru text-center font-bold text-3xl">KUIS</h1>
        </div>

        <div class="w-full flex flex-wrap justify-center">
          <div id="materi" class="w-full lg:w-2/3 place-content-center"></div>
        </div>

        <div id="materi-contoh" class="w-full flex flex-wrap place-content-around coniatiner mx-20">
          <div class="markdown-body container">
            <!-- <article class="markdown-body"> -->
            <div id="markdowntest"></div>
            <!-- </article> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
